

#################################################################
# 忽略文件夹
#################################################################

/img/2019
/img/2020
/img/2021


#################################################################
# 忽略文件
#################################################################

/img/Sky-seeker_WX-Search-Standard__1975x324.png
/img/Sky-seeker_WX-Search-White_1975x324.png
/img/Sky-seeker_WX-Unite-Standard_1710x624.png
/img/Sky-seeker_WX-Unite-White_1710x624.png



